{% extends 'main.html' %} {% load static %} {% block content %}
<h2>희망하는 포지션</h2>
<div class="card" style="width: 18rem;">
    <img src="{% static 'img/prontend.png' %}" class="card-img-top" alt="프론트">
    <div class="card-body">
        <h5 class="card-title">FrontEnd</h5>
        <p class="card-text">프론트엔드 개발자는 프론트 영역 전반과 서버에 대한 이해력을 필요로 한다. 프론트엔드 개발자가 담당하기도 하지만, 종종 업무 효율을 위해 디자인 영역(HTML, CSS)만 작업해주는 마크업 개발자가 따로 있는 경우도 있으며, 프론트엔드 개발자는 해당 작업 파일을 받아 포팅 작업을 하고, 프론트엔드 영역을 개발하게 된다. html, css를 하면서 직접 사이트를 꾸며보니 다양한 방법으로도 꾸밀 수 있어다는 점에 흥미가 느껴져 프론트엔드
            포지션으로 가고 싶습니다.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    {% endblock %}