{% extends 'main.html' %}

{% load static %}

{% block title %}
        <title>Jungdaun</title>
{% endblock %}

{% block content %}
    <h1>희망하는 포지션</h1>
{% endblock  %}

{% block content2 %}
    <img src="{% static 'img/backend.jpg' %}" alt = "백엔드 이미지">
{% endblock  %}

{% for ex_posts in ex_posts %}
    <p>제목:{{ ex_posts.title }}</p>
    <p>글 내용:{{ ex_posts.content }}</p>
    <p>작성자:{{ ex_posts.user }}</p>
    <p>글 작성 시간:{{ ex_posts.create_time }}</p>
    <p>수정 시간:{{ ex_posts.update_time }}</p>
{% endfor %}

{% for position in positions %}
    <p>포지션:{{ position.pos }}</p>
    <p>설명:{{ position.explanation }}</p>
    <p>이유:{{ position.reason }}</p>
{% endfor %}