<!-- 자신의 동네를 소개하는 페이지 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    {% block title %}
    <title>Main</title>
    {% endblock %}
</head>
<body>
    

    {% block content %}
    <h1>저의 동네를 소개합니다!</h1>
    {% endblock %}

{% block content2 %}
    {% for ex_posts in ex_posts.all %}
    <hr><br>
    <p>제목:{{ ex_posts.title }}</p>
    <p>글 내용:{{ ex_posts.content }}</p>
    <p>작성자:{{ ex_posts.user }}</p>
    <p>작성 시간:{{ ex_posts.create_time }}</p>
    <p>수정 시간:{{ ex_posts.updated_time }}</p>
    <br>
    {% endfor %}
    <hr>
{% endblock %}
</body>
</html>