{% extends 'main.html' %}

{% block title %}
    <title>hayun</title>
{% endblock %}

{% block content %}
    <br>
    <h1>하윤</h1>
    <br>
    <h3>희망 포지션 : 프론트엔드</h3>
{% endblock %}

{% block content2 %}
    <hr>
    <p>
        프론트엔드 설명:
    </p>
    <p>
        프론트엔드란 백엔드에서 데이터를 입출력하여 로직을 구성한다거나 사용자가 사용하는 인터페이스 부분을 작업하는 포지션입니다.
        주로 HTML, CSS, Javascript 등의 프로그래밍 언어를 사용하며 프론트엔드 프레임워크에 관한 지식이 필요합니다.
    </p>
    <br>
    <p>
        프론트엔드 포지션을 희망한 이유:
    </p>
    <p>
        프론트엔드 개발자가 하는 일인 사용자가 사용하는 인터페이스 부분을 만든다는 것이 흥미롭게 다가왔기 때문입니다.
        사용자가 보는 화면에 페이지의 구성요소들을 사용하기에 편리하면서도 디자인적으로 깔끔한 배치를 하는 것이 즐거웠습니다.
        무엇보다 개발하는 입장에서 제가 구현한 코드들이 바로 눈에 보이며 달라지는 것이 제가 프론트엔드를 희망한 큰 이유인 것 같습니다.
    </p>
    <br> <hr> <br>
{% endblock %}

{% for 하윤 in hayun_post %}
<h1>하윤_포스트</h1>
    <p>포스트_제목:{{ 포스트.title }}</p>
    <p>글 내용:{{ 포스트.content }}</p>
    <p>작성자:{{ 포스트.user }}</p>
{% endfor %}