<!-- {% extends 'main.html' %}

{% block title %}
<title>멋쟁이 사자처럼 11기</title>
{% endblock %}

{% block content1 %}
<h1>hayrin page</h1>
<hr>
<form method="POST" action="{% url 'hayrin' %}">
    {% csrf_token %}
    제목 : <input type="text" name="title"><br>
    본문 :  <textarea name="body" cols="30" rows="10"></textarea>
</form>
{% endblock %}

{% block content3 %}
{% for rin_posts in rin_posts %}
<p>제목:{{ rin_posts.title }}</p>
<p>글 내용:{{ rin_posts.content }}</p>
<p>작성자:{{ rin_posts.user }}</p>
<p>글 작성 시간:{{ rin_posts.create_time }}</p>
<p>글 수정 시간:{{ rin_posts.updated_time }}</p>
{% endfor %} 
{% endblock %}
 -->
